h1{
	color: rgb(22, 207, 101);
	font-wight: normal;
}

article.sound{
	width:600px;
	margin:50px auto;
	outline:1px solid red;	
	font-size:0;
}

article.sound section.sound-content{
	width:300px;
	display: inline-block;
	font-size:18px;
}

article.sound section.sound-content a img{
	border-radius:100%;
}